<!doctype html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}"
>
<head>
    <meta charset="UTF-8">
    <title>todos</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:if="${status == 0}">
            전체 : <span th:text="${todosCount}" class="badge bg-primary"></span>
            완료: <span th:text="${completedCount}" class="badge bg-success"></span>
            미완료: <span th:text="${activeCount}" class="badge bg-warning"></span>
        </div>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Completed</th>
                <th>Detail</th>
            </thead>
            <tbody>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.id}"></td>
                    <td th:text="${todo.title}"></td>
                    <td>
                        <span th:if="${todo.completed}" class="badge bg-success">완료</span>
                        <span th:if="${!todo.completed}" class="badge bg-warning">진행중</span>
                    </td>
                    <td>
                        <a th:href="@{/todos/{id}(id=${todo.id})}" class="btn btn-sm btn-primary">보기</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>