<!doctype html>
<html
        lang="en" xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}"
>
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>edit</h1>
        <form th:action="@{/todos/{id}/update(id=${todo.id})}" method="post">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" th:value="${todo.title}" class="form-control">
            <label for="content" class="form-label">Content</label>
            <input type="text" name="content" id="content" th:value="${todo.content}" class="form-control">
            <input type="checkbox" name="completed" value="true" th:checked="${todo.completed}" class="form-check-input mt-0">
            <input type="submit" class="btn btn-primary">
        </form>
        <a th:href="@{/todos/{id}(id=${todo.id})}">취소</a>
    </div>
</body>
</html>